<div class="xxx-app">
    <div class="xxx-app-content animated">
        <div ng-controller="RootCtrl" ng-cloack>

            <div ng-show="isLoading" class="loading-data">
                <div>
                    LOADING...
                </div>
            </div>

            <div class="xxx-app-scrollable-content hide-me" 
                ng-class="{'hide-me': isLoading}">
                <div>
                    <span class="star" ng-class="{'star-selected': article.rating >= 1}" ng-click="article.rating = 1; saveArticle()"></span>
                    <span class="star" ng-class="{'star-selected': article.rating >= 2}" ng-click="article.rating = 2; saveArticle()"></span>
                    <span class="star" ng-class="{'star-selected': article.rating >= 3}" ng-click="article.rating = 3; saveArticle()"></span>
                    <span class="star" ng-class="{'star-selected': article.rating >= 4}" ng-click="article.rating = 4; saveArticle()"></span>
                    <span class="star" ng-class="{'star-selected': article.rating >= 5}" ng-click="article.rating = 5; saveArticle()"></span>
                </div>
                <!-- <div>
                    <button class="btn btn-danger btn-sm">Crap</button>
                </div> -->

                <div class="info-block">
                    <h3>People</h3>
                    <div class="person"
                         ng-repeat="person in article.meta.people">
                        <input type="checkbox" 
                            class="selection" 
                            ng-model="person.isSelected"
                            ng-change="saveArticle();"/>
                        <img class="img-circle" 
                            src="{{ person.img_url }}" height="80"></img>
                        <span class="name padded">{{ person.name }}</span>
                        <span class="position padded">{{ person.position }}</span>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="info-block">
                    <h3>Quotes</h3>
                    <div class="quote" 
                        ng-repeat="quote in article.quotes">
                        <span class="quote-markers">&ldquo;</span>
                        {{ quote.text }} 
                        <span class="quote-markers">&rdquo;</span>
                        <div class="author">
                            <bold>{{ quote.person_name }}</bold>
                        </div>
                    </div>
                </div>
                
                <div class="info-block">
                    <h3>Topics</h3>
                    <div class="topic" 
                        ng-repeat="topic in article.meta.topics">
                        <input type="checkbox" 
                            ng-model="topic.isSelected"
                            ng-change="saveArticle()"/>
                        <span>{{ topic.name }}</span>
                    </div>
                </div>

                <div class="info-block">
                    <h3>Tags</h3>
                    <div class="topic" 
                        ng-repeat="tag in article.meta.tags">
                        <input type="checkbox" 
                            ng-model="tag.isSelected"
                            ng-change="saveArticle()"/>
                        <span>{{ tag.name }}</span>
                    </div>
                </div>

            </div>
        </div>        
        <div class="xxx-app-footer">
            Project Babylon
        </div>
    </div>
</div>