<div class="xxx-app">
    <div class="xxx-app-content animated">
        <div ng-controller="RootCtrl" ng-cloack>
            {{ data }}
            <p>HELLO WORLD</p>
            <p>{{ facebookMeta }}</p>
            <p>{{ twitterMeta }}</p>
            <div>
                <span ng-click="markAsCrap();">Crapy article!</span>
            </div>
        </div>
        <div>
            h3 Quotes
            Putin: "Blah Blah Blah"
        </div>
        
        <div class="xxx-app-footer">
            XXXXX
        </div>
    </div>
</div>