doctype html5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        title Timeline

        //- Bootstrap  
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css", rel="stylesheet")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

        style
            .day,
            .week, 
            .month,
            .year {
                height: 0px;
                width: 0px;
                transition-property: height, width;
                transition-duration: 0s;
            }

            .day .entity {
                font-size: 18px;
                transform: scale(0);
            }

            .week .entity {
                font-size: 22px;
                transform: scale(0);
            }

            .month .entity {
                font-size: 26px;
                font-weight: bold;
                transform: scale(0);
            }

            .year .entity {
                font-size: 32px;
                font-weight: bold;
                transform: scale(0);
            }

            .scale-year .year,
            .scale-month .month,
            .scale-month .year,
            .scale-week .week,
            .scale-week .month,
            .scale-week .year,
            .scale-day .day,
            .scale-day .week,
            .scale-day .month,
            .scale-day .year {
                height: auto;
                width: auto;
                transition-property: height, width;
                transition-duration: 1s;
            }


            .scale-year .year .entity,
            .scale-month .month .entity,
            .scale-month .year .entity,
            .scale-week .week .entity,
            .scale-week .month .entity,
            .scale-week .year .entity,
            .scale-day .day .entity,
            .scale-day .week .entity,
            .scale-day .month .entity,
            .scale-day .year  .entity {
                transform: scale(1);
                transition-duration: 0.25s;
            }

        script
            $(document).ready(function() {
                $('.time-span').click(function(event) {
                    var newScaleType = $(event.target).text().toLocaleLowerCase();
                    $('.container')
                        .removeClass('scale-day scale-week scale-month scale-year')
                        .addClass('scale-' + newScaleType);
                });
                
                // Patch classes
                $("<style type='text/css'> .entity { transition-duration: 0.25s; } </style>").appendTo('head');
                $("<style type='text/css'> .day, .week, .month, .year { transition-duration: 1s; } </style>").appendTo('head');
            });

    body
        div.container.scale-month
            div.row
                div.col-lg-12(style="margin-bottom: 30px; margin-top: 10px;")
                    div.btn-group
                        button.btn.btn-default.time-span Day
                        button.btn.btn-default.time-span Week
                        button.btn.btn-default.time-span Month
                        button.btn.btn-default.time-span Year

            for period in items.data
                div.row(style="margin-bottom: 10px;")
                    hr
                    div.col-lg-6(style="text-align: right;")
                        for entity in period.entities[::2]
                            div.left(class=entity.weight)
                                div.entity {{ entity.title }} {{ entity.description }}
                    div.col-lg-6
                        for entity in period.entities[1:][::2]
                            div.right(class=entity.weight)
                                div.entity {{ entity.title }} {{ entity.description }}
  